@import "bootstrap/dist/css/bootstrap.min.css";


h1 {
    font-size: 70px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: small;
}


.main-sidebar {
    min-height: 100%;
}

.custom-table {
    font-size: 0.85rem;         /* Adjust font size here */
    color: #343a40;             /* Font color (dark gray) */
    /* margin: 30px auto;          
    width: 95%;                  */
  }

  .custom-table th
   {
    vertical-align: middle;     /* Center vertically */
    font-size: small;
    /* font-weight: 600; */

  }


 
  .custom-table td {
    vertical-align: middle;     /* Center vertically */
    font-size: small;
  }


  .custom-table .badge {
    vertical-align: middle;     /* Center vertically */
    font-size: small;
    font-weight: 500;

  }


  .custom-table .btn {
    font-size: small;
  }


  .custom-table th {
    background-color: #f8f9fa;  /* Light header */
    font-weight: 600;
  }

  .custom-table img {
    border-radius: 4px;
    object-fit: cover;
  }

  .custom-table .btn i {
    /* font-size: 0.85rem; */
  }


  /* *** ROOMS  PAGE***  */
  .add-room-button{
   margin-top: 16px;
   margin-right: 16px;
  }
  




  .form-label, ::placeholder, .form-check-label{
    vertical-align: middle;     /* Center vertically */
    font-size: small;
  }

  